---
// Astro Tools
import Image from 'astro/components/Image.astro'

// components
import Heading from '../ui/Heading.astro'
import Link from '../ui/Link.astro'

// Assets
import katie from '@/assets/avatar.jpg'
---

<header aria-label='Introduction to Katie' class='hero-home'>
	<Image
		src={katie}
		format='avif'
		alt='Katie Haus'
		width={200}
		class='avatar'
	/>
	<Heading tagName='h1' size='h1'>👋 Hi, I’m Katie</Heading>
	<p>I'm a self-taught designer and developer obssed with quality</p>
	<div>
		<Link href='#' variant='secondary'>Download CV</Link>
		<Link href='#contact'>Let's Connect</Link>
	</div>
</header>
